@import url('welcome.css');

.photoList {
    background-color: rgba(0, 0, 0, 0.7);
}

.photoList {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 9999;

    padding: 10px 0;
}

.photoList li {
    margin: 0 5px;
}

li img {
    height: 100px;
    cursor: pointer;
}

.albumContainer {
    background-color: skyblue;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.leftPage,
.rightPage {
    width: 45%;
    background-color: whitesmoke;
    /* padding: 5px; */
    text-align: center;
    height: 500px;
}

.center {
    width: 10px;
}

.bigImg {
    height: 100%;
    width: 100%;
    background-color: steelblue;
}

.galleryItem1 {
    grid-area: image1;
}

.galleryItem2 {
    grid-area: image2;
}

.galleryItem3 {
    grid-area: image3;
}

.galleryItem4 {
    grid-area: image4;
}

.galleryItem5 {
    grid-area: image5;
}

.sideGallery {
    /* border: 2px solid steelblue; */
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        'image1 . image2'
        '. image3 .'
        'image4 . image5'
    ;
    gap: 5px;
    padding: 5px;
}

.sideGallery div {
    border: 2px solid skyblue;
    /* height: 100px;
    width: 100px; */

}

.galleryItem3 {
    scale: 1.8;
    z-index: 9;
    background-color: skyblue;
}

.items {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sideBar {
    background-color: white;
    /* position: fixed;
    left: 0; */
    padding: 10px;
    height: auto;
    width: 100px;
    /* margin-top: 16px; */
}

h3 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.2em;
    color: steelblue;
}

.icons {
    height: 50px;
    margin: 0 auto;
    color: steelblue;
    cursor: pointer;
    margin-bottom: 15px;
}

.icons:hover {
    color: goldenrod;
}