@import url('welcome.css');

main {
    background-color: skyblue;
}

.photoList {
    background-color: white;
    /* border: 5px groove steelblue; */
}

.photoList {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 9999;
    overflow-x: scroll;
    padding: 10px 0;
}

.photoList li {
    margin: 0 5px;
}

li img {
    height: 100px;
    cursor: pointer;
}

.albumContainer {
    background-color: skyblue;
    margin-top: 1%;
    display: flex;
    flex-direction: column !important;
    height: 100%;
}

.galleryContainer {
    display: flex;
    justify-content: flex-end;
    margin: 1% 0;
    margin-right: 30px;
}

.leftPage,
.rightPage {
    width: 45%;
    background-color: whitesmoke;
    text-align: center;
    height: 500px;
}

.bigImg {
    height: 100%;
    width: 100%;
    background-color: steelblue
}

.center {
    width: 10px;
}

.galleryItem1 {
    grid-area: image1;
}

.galleryItem2 {
    grid-area: image2;
}

.galleryItem3 {
    grid-area: image3;
}

.galleryItem4 {
    grid-area: image4;
}

.galleryItem5 {
    grid-area: image5;
}

.galleryOne {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        'image1 . image2'
        '. image3 .'
        'image4 . image5'
    ;
    gap: 5px;
    padding: 5px;
}

.items {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid steelblue;
}

.sideBar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 30%;
    padding: 10px;
    width: 100px;
    /* margin-top: 16px; */
}

h3 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.2em;
    color: steelblue;
}

.icons {
    height: 40px;
    margin: 0 auto;
    color: steelblue;
    cursor: pointer;
    margin-bottom: 15px;
}

.icons:hover {
    color: goldenrod;
}

.relative {
    z-index: 9999999;
}

/* pages styles */
.pages {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: 100%;
    background-color: skyblue;
    overflow-y: scroll;
}

#modalPageType {
    position: fixed;
    border: 1px solid steelblue;
    background-color: rgba(255, 255, 255, 0.9);
    top: 30%;
    left: 25%;
    height: 50%;
    width: 50%;
    z-index: 99999;
    display: flex;
}

.iconClose {
    margin: 0 0 0 auto !important;
}

/* testing table styles */
.h3Pages {
    width: 30%;
}

table {
    width: 50%;
    text-align: center;
}

table,
tr,
td {
    border: 1px solid steelblue;
    transition: 0.4s ease-in-out all;
}

td:hover {
    cursor: pointer;
    background-color: steelblue;
}