@import url('welcome.css');

.dashboard {
    background-color: rgba(0, 0, 0, 0.6);
}

nav a {
    border-bottom-color: white !important;
}

button,
button * {
    background-color: steelblue !important;
    color: white !important;
}

#uploadBtn {
    background-color: skyblue !important;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 0 5px white;
    transition: 0.5s ease-in-out all;
}

#uploadBtn:hover {
    box-shadow: 0px 0px 0px white;
    margin-left: 10px;
    color: steelblue !important;
    background-color: white !important;
    font-weight: bold;
}

input {
    color: white !important;
}

.rounded-md {
    background-color: steelblue !important;
}

.rounded-md a:hover {
    color: skyblue !important;
    background-color: white;
}

.dashboardWelcome {
    font-family: "Fira Sans Condensed", sans-serif;
    color: skyblue;
    font-size: 2em;
}

.dashboardContent {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: space-around;
}

.leftSide,
.rightSide {
    width: 45%;
}

/* error style */
.errorAlert,
.fail,
.success {
    padding: 5px;
    margin: 5px;
    background-color: white;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.errorAlert li {
    list-style-type: disc;
    list-style-position: inside;
}

.success {
    color: green;
}