@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-condensed-thin {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-condensed-extralight {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-condensed-light {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-condensed-medium {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-condensed-semibold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-condensed-bold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-condensed-extrabold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-condensed-black {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-condensed-thin-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-condensed-extralight-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-condensed-light-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-condensed-regular-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-condensed-medium-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-condensed-semibold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-condensed-bold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-condensed-extrabold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-condensed-black-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
}

h1 {
    font-size: 3em !important;
    font-family: "Fira Sans Condensed", sans-serif;
    color: skyblue;
}

.mainTitle {
    margin-top: -200px !important;
}

body,
.loginDiv {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navWelcome {
    margin: 0 auto;
    padding: 50px;
}

nav {
    background-color: skyblue !important;
}

nav a {
    color: white !important;
    transition: 0.4s color ease-in-out !important;
}

.navWelcome a {
    font-size: 1.2em;
}

.navWelcome a:hover {
    color: steelblue !important;
}

/* login page styles */
label {
    color: white !important;
}

#aForgot {
    color: steelblue;
}